process {    
    cache = 'lenient'
    stageInMode = 'symlink'
    container = '/g/strcombio/fsupek_home/mmunteanu/LINX/linx_circos.sif'
  }

executor {
    name = 'slurm'
    queueSize = 20 // Limit the number of jobs submitted to SLURM at once
}

singularity {
       enabled = true
        autoMounts = true
        runOptions = '-B /home/mmunteanu/LINX'
}

trace {
  enabled = true
  file = "trace.txt"
}
