nextflow.enable.dsl = 2

params {
    samples_file = "/g/strcombio/fsupek_home/mmunteanu/LINX/samples.txt" // File with the list of samples to process
    root_directory = "/home/mmunteanu/LINX"
    output_directory = "/g/strcombio/fsupek_home/mmunteanu/LINX/output"
    ensembl_cache_dir = "/g/strcombio/fsupek_home/mmunteanu/LINX/HMFtools-Resources_dna_pipeline_v5_34_37_hmf_dna_pipeline_resources.37_v5.34/v5_34/ref/37/common/ensembl_data" // Directory with Ensembl cache
    singularity_image = "/g/strcombio/fsupek_home/mmunteanu/LINX/linx_circos_r_container.sif" // Path to the Singularity image
    ref = "37"
    threads = "2"
}

process {    
    cache = 'lenient'
    stageInMode = 'symlink'
    memory = '5 GB'
    time = '1h'
    container = params.singularity_image
}

executor {
    name = 'slurm'
    queueSize = 20 
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B ${params.root_directory}"
}

trace {
    enabled = true
    file = "trace.txt"
}
